{% extends 'reg/index.html' %}

{% block title %}Истории{% endblock %}

{% block content %}

{% endblock %}


{% block body %}
<style>
.z-x-14{
  height:30%;
  width: 30%;
  margin: 0;
  float:left;
 margin-top: 10px;
 margin-left: 10px;

.w{
  background-color: #d3d3d3

}
.card{
  border: 2px solid black;
}
.row{
    margin-left: 300px;
}


</style>

{% for el in Articles_admin %}
{% if request.user.is_authenticated and request.user.is_staff %}
<div class="z-x-14">
<div class="row row-cols-1  g-4 container">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ el.title }}</h5>
        <p class="card-text">{{ el.text }}</p>
        <p>{{ el.auther }}</p>
        <a href="{% url 'delete_admin' el.id %}" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

/*row-cols-md-2*/