{% extends 'reg/index.html' %}
{% load profanity %}
{% block title %}Истории{% endblock %}

{% block content %}

{% endblock %}


{% block body %}
<!--<style>
.z-x-14{
  height:35%;
  width: 30%;
  margin: 0;
  float:left;
 margin-top: 10px;



.w{
  background-color: #d3d3d3
 z-index: 1;
}
.card{
  border: 2px solid black;
  height: 70vh;
  width: 50vh;
   z-index: 1;
   margin-left: 40px;
}
.row{
    margin-left: 150px;
 z-index: 1;
}

</style>

{% for el in Articles %}
<div class="z-x-14">
<div class="row row-cols-1  g-4 container">
  <div class="col">
    <div class="card">
      {% if el.img %}
      <img src="{{ el.img.url }}" class="card-img-top">
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ el.title }}</h5>
        <p class="card-text">{{ el.description }}</p>
        <a href="{% url 'details' el.id %}" class="btn btn-link" style=" float: left">Подробнее</a><br>
        <h4 style="float: left; ">Автор {{ el.auther }}</h4>
        Дата: {{ el.date }}
        {% if user.username == 'admin' %}
        <a href="{% url 'delete' el.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% endfor %}
-->


<style>

    /* This css file is to over write bootstarp css
---------------------------------------------------------------------- */


/*
Theme Name: Modern - Bootstrap 4 Cards
Theme URI: http://adamthemes.com/
Author: AdamThemes
Author URI: http://adamthemes.com/
Description: Modern - Bootstrap 4 Cards by AdamThemes
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: card, cards, css3, modern, adamthemes, bootstrap, profile
*---------------------------------------------------------------------- */


/*----------------------------------------------------------------------
TABLE OF CONTENTS

// 1. SECTIONS
// 2. CARDS
//      2.1 Card Table
//      2.1 Card Blog
//      2.1 Card Background
//      2.1 Card Profile
//      2.1 Card Category
//      2.1 Card Author
//      2.1 Card Product
//      2.1 Card Testimonial
//      2.1 Text Color
// 3. BUTTONS
// 4. SOCIAL MEDIA BUTTONS
// 5. BOOTSTRAP COL-MD-12 CLASS
// 6. FONT AWESOME FA CLASS

------------------------------------------------------------------------*/


/*---------------------------------------------------------------------- /
SECTIONS
----------------------------------------------------------------------- */

.section-cards {
    z-index: 3;
    position: relative;
}

.section-gray {
    background: #E5E5E5;
    padding: 60px 0 30px 0;
}


/*---------------------------------------------------------------------- /
CARDS
----------------------------------------------------------------------- */

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card img {
    width: 100%;
    height: auto;
}

.img-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .ftr {
    margin-top: 15px;
}

.card .ftr div {
    display: inline-block;
}

.card .ftr .author {
    color: #888;
}

.card .ftr .stats {
    float: right;
    line-height: 30px;
}

.card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}


/* ============ Card Table ============ */

.table {
    margin-bottom: 0px;
}

.card .table {
    padding: 15px 30px;
}

.card .table-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.card .table-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
}

.card .table-success {
    background: linear-gradient(60deg, #66bb6a, #388e3c);
}

.card .table-warning {
    background: linear-gradient(60deg, #ffa726, #f57c00);
}

.card .table-danger {
    background: linear-gradient(60deg, #ef5350, #d32f2f);
}

.card .table-rose {
    background: linear-gradient(60deg, #ec407a, #c2185b);
}

.card [class*="table-"] {
    color: #FFFFFF;
    border-radius: 6px;
}

.card [class*="table-"] .card-caption a,
.card [class*="table-"] .card-caption,
.card [class*="table-"] .icon i {
    color: #FFFFFF;
}

.card [class*="table-"] .icon i {
    border-color: rgba(255, 255, 255, 0.25);
}

.card [class*="table-"] .author a,
.card [class*="table-"] .ftr .stats,
.card [class*="table-"] .category,
.card [class*="table-"] .card-description {
    color: rgba(255, 255, 255, 0.8);
}

.card [class*="table-"] .author a:hover,
.card [class*="table-"] .author a:focus,
.card [class*="table-"] .author a:active {
    color: #FFFFFF;
}

.card [class*="table-"] h1 small,
.card [class*="table-"] h2 small,
.card [class*="table-"] h3 small {
    color: rgba(255, 255, 255, 0.8);
}


/* ============ Card Blog ============ */

.card-blog {
    margin-top: 30px;
}

.card-blog .card-caption {
    margin-top: 5px;
}

.card-blog .card-image + .category {
    margin-top: 20px;
}

.card-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


/* ============ Card Background ============ */

.card-background {
    background-position: center;
    background-size: cover;
    text-align: center;
}

.card-background .table {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}

.card-background .category,
.card-background .card-description,
.card-background small {
    color: rgba(255, 255, 255, 0.8);
}

.card-background .card-caption {
    color: #FFFFFF;
    margin-top: 10px;
}

.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    table: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px;
}


/* ============ Card Profile ============ */

.card-profile {
    margin-top: 30px;
    text-align: center;
}


/* ============ Card Category ============ */

.category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}


/* ============ Card Author ============ */

.card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #333;
    text-decoration: none;
}

.card .author a .ripple-cont {
    display: none;
}


/* ============ Card Product ============ */


.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}


/* ============ Card Testimonial ============ */




/*---------------------------------------------------------------------- /
BUTTONS
----------------------------------------------------------------------- */




/* Button Info */




/* Button Danger */



/* Button Warning */




/* Button Rose */




/* Button White */



/*---------------------------------------------------------------------- /
SOCIAL MEDIA BUTTONS
----------------------------------------------------------------------- */


/* facebook */



/*twitter*/


/*pinterest*/



/*google*/



/*instagram*/




/*---------------------------------------------------------------------- /
BOOTSTRAP COL-MD-12 CLASS
----------------------------------------------------------------------- */

.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;

}


/*---------------------------------------------------------------------- /
FONT AWESOME FA CLASS
----------------------------------------------------------------------- */

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/***********Only4Demo*******************/
/**************************************/

/* ======= GENERAL  ======= */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}


p {
    color: #3C4857;
}




h1, .h1 {
  font-size: 3.8em;
}

h2, .h2 {
  font-size: 2.0em;
  line-height: 1.6em;
  margin: 15px 0 15px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  text-align: center;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 30px 0 30px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  text-align: center;
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.55em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.55em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 500;
}

.card-float .col-md-4{
    margin: 0;
}
.col-md-4{
    float: left;
    margin: 20px;

}

.card{
    height: 650px;
    }

.ftr{
    position: absolute;
    bottom: 10px;
}







.search{
    margin-bottom: auto;
    margin-top: 20px;
    height: 70px;
    background-color: #fff;
    padding: 10px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#1A237E;
    color:#fff;
}
.search-icon{

        height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;

}
a:link{
    text-decoration: none;
}


</style>


  <form action="{% url 'Search_article' %}" method="get">
<div class="d-flex justify-content-center h-100">
        <div class="search">
            <input type="search" class="search-input" placeholder="поиск..." name="q_2">
            <button type="submit" class="search-icon">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    </form>
{% for el in Articles %}
<div class="container ee">
<div class="">

<div class="col-md-4">
<div class="card card-blog">
                            <div class="card-float">
                            <div class="card-image">

                                 <img class="img" src="{{ el.img.url }}">

                                <div class="ripple-cont"></div>
                            </div>
                            <div class="table">
                                <h6 class="category text-success"><i class="fa-solid fa-calendar-days"></i> {{ el.date }}</h6>
                                <h4 class="card-caption">
                                    <p>{{ el.title }}</p>
	    			        </h4>
                                <p class="card-description">{{ el.description }}</p>
                                <div class="ftr">
                                    <div class="author">
                                        <i class="fa-solid fa-user"></i><span>{{ el.auther }}</span>
                                    </div>
                                    <a class="btn btn-link" href="{% url 'details' el.id %}">Подробнее</a>
                                            {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'delete' el.id %}" class="btn btn-danger">Удалить</a>
                                 {% elif user.username == 'root' %}
                                    <a href="{% url 'delete' el.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}
                                </div>
                                </div>
                            </div>
                        </div>
</div>
    </div>
    </div>
    </div>
</div>
{% endfor %}

{% endblock %}

