{% extends 'reg/index.html' %}

{% block title %}Видео{% endblock %}


{% block body %}
<style>

.card-container {
  width: 1480px;
  margin: 0 auto;


}
.card-container:hover .card {
  cursor: pointer;
}
.card-container .card {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
  height: 400px;
}
.card-container .card:hover {
  box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
  transform: scale(1.025);
  opacity: 1;
  filter: grayscale(0);
  transition: .35s all ease;
}
.card-container .card img {

    object-fit: cover;
  width: 100%;
  height: 200px;


}
.card-container .card .content {
  padding: 15px 20px;
}
.card-container .card h3 {
  font: 0.8rem;
  padding: 0;
  margin: 0 0 1px;
  letter-spacing: -.075rem
}
.card-container .card p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.2rem;
}

.a {
  color: #000 !important;
  text-decoration: none
}


.as{
    margin-top: 20px;
}



.search{
    margin-bottom: auto;
    margin-top: 20px;
    height: 70px;
    background-color: #fff;
    padding: 10px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#1A237E;
    color:#fff;
}
.search-icon{

        height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;

}
a:link{
    text-decoration: none;
}
</style>

<script>

</script>
  <form action="{% url 'search_video' %}" method="get">
<div class="d-flex justify-content-center h-100">
        <div class="search">
            <input type="search" class="search-input" placeholder="поиск..." name="q">
            <button type="submit" class="search-icon">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    </form>
<div align="center" class="as">
<a class="btn btn-warning btn-lg center" href="{% url 'create_video' %}">Создать и опубликовать видео</a>
</div>
{% for el in Post %}
<div class="with">
    <section>
        <a href="{% url 'details_video' el.id %}" class="a">
  <div class="card-container">

    <div class="card">
      <img src="{{ el.img.url }}">
      <div class="content">
        <h3>{{ el.title }}</h3>
        <h6 style="margin: 0; float: left" class="category text-success"><i class="fa-solid fa-calendar-days"></i> {{ el.date }}</h6><br>
          <i style="margin: 0;" class="fa-solid fa-user"></i> <span>{{ el.auther }}</span>
      </div>
    </div>
  </div>
            </a>
</section>
    </div>

{% endfor %}

{% endblock %}



